.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: rgb(28, 61, 248);
}

.title{
    font-size:76px;
    color: #fff;
    animation: flipTitle 2s;
    text-align: center;
    flex-wrap: wrap;
    flex-direction:column;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

.containerInput {
    background-color: rgb(255, 255, 255);
    padding:15px;
    margin:34px 0;
    display: flex;
    border-radius: 9px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color:transparent;
    border: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
}

.containerInput input::placeholder{
    color: rgb(0, 0, 0);
}

.buttonSearch {
    background-color:transparent;
    border: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.2)
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    width:80%;
    max-width:67vh;
    border-radius:9px;
    color: rgb(0, 0, 0);
}

.main h2 {
    margin: 16px 0;
    font-size: 5vh;
}

.main span {
    margin-bottom: 2vh;
    font-weight: bold;
}
